/* Page Css */
* {margin: 0%; padding: 0%}
body {
    margin: auto;
    width: 90%;
    background-color: #addced;
    border: 3px solid #f0a8e9;
}

h1 {
    background-color: #075be3;
    border-bottom: 3px solid #f0a8e9;
}
 nav ul {
     list-style-type: none;
 }
 
 nav ul li {
    width: 18%;
    float: left;
    text-align: center;
     background-color: #f0a8e9;
     display: inline;
     padding: .5% 1%;
 }
 
  nav ul li a {
     display: block;
 }
 
 div.members {
     width: 20%;
 }
 
 div.goal {
     width: 80%;
 }

ol {
    float: left;
}

ol li {
    margin-left: 15%;
}

footer {
    text-align: center;
    background-color: #f0a8e9;
    clear: both;
}
/* Pages Css */
div.page {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #67afdb;
    width: 90%;
    border: 3px solid #9f02ba;
}

div.page h2 {
    padding-left: 2%;
}

div.panel {
    margin: auto;
    background: #eff0af;
    border: 2px solid #d4d647;
    margin: 2%;
    padding: 1%;
}

p {
    padding: 0.5%;
}

p.desc {
    text-align: center;
}

/* Text Css */
span.JohnnyJoestar {
    color: #cc04c2;
}

span.FunnyValentine {
    color: #ede88e;
}

span.Wired {
    color: #a1a1a1;
}

span.PorkPieHatKid {
    color: #6cd904;
}

span.TuskAct1 {
    color: #c204db;
}

span.GyroZeppeli {
    color: #02bd24;
}